
<template>
  <div class='body'>
    <b-navbar toggleable="lg" type="dark" position="fixed"  id= 'navbar' class= "navbar fixed-top">
      <div>
      <b-navbar-brand  id= 'icon' class="font-weight-bold" href="#">PEAC</b-navbar-brand>
      </div>
      <div id = 'text_icon'>
        <p>PROGRAMA DE</p>
        <p>EXTENSION EN</p>
        <p class="font-weight-bold" >EN ARTE CONTEMPORÁNEO</p>
      </div>
      <b-navbar-nav class="ml-auto">
      <b-nav-form>
        <b-img id="img_logo" src="./logo-corrientealterna.svg" fluid alt="Responsive image"></b-img>
        <b-img id="img_logoOculto" src="./logo-corrientealterna.svg" fluid alt="Responsive image"></b-img>
        <b-img id="img_logoOculto" src="./logo_blanco.svg" fluid alt="Responsive image"></b-img>
      </b-nav-form>
      </b-navbar-nav>
    </b-navbar>
    <div class="content">
      <div>
        <b-carousel
          id="carousel-no-animation"
          style="text-shadow: 0px 0px 2px #000"
          fade
          interval="3000"
          indicators
          img-width="1366"
          img-height="680"
        >
          <b-carousel-slide
            caption="P"
            img-src="./PEAC_0000_P.png"
          ></b-carousel-slide>
          <b-carousel-slide
            caption="E"
            img-src="./PEAC_0001_E.png"
          ></b-carousel-slide>
          <b-carousel-slide
            caption="A"
            img-src="./PEAC_0002_A.png"
          ></b-carousel-slide>
          <b-carousel-slide
            caption="C"
            img-src="./PEAC_0003_C.png"
          ></b-carousel-slide>
        </b-carousel>
        <b-button class="botonF1" @click="showModal(0)"><b-img id="img_informes" src="./icon_informes.svg" fluid alt="Responsive image"></b-img></b-button>
      </div>
      <div class= 'textPrincipal'>
            <div class= "card">
              <div class="title_Card">
                <h2  class= "title_Second"><b>PEAC</b></h2>
                  <div class="barra">
                    <div id="barra_25" class="w-100 mb-1 "></div>
                  </div>
              </div>
              <div class="text_card">
                <p class="in_text_card">
                  El Programa de Extensión en Arte Contemporáneo (PEAC) te da la oportunidad de
                  desarrollarte a través de una serie de programas especializados organizados por
                  módulos.

                  Diseñado especialmente para emprendedores y profesionales como tú que buscan
                  ampliar sus conocimientos en el mundo del arte.
                </p>
              </div>
            </div>
      </div>
      <div class= "Beneficios">
        <div class ="cards">
          <div class="card_beneficios">
            <div class="beneficio_number">
              01.
            </div>
            <div class="beneficio_title">
              <p><b>Programas</b></p>
              <p><b>Flexibles</b></p>
            </div>
            <div class="beneficio_text">
              Puedes llevar el programa
              completo, por módulos o
              curso individual adaptándose
              así a tus tiempos e intereses
              más inmediatos.
            </div>
            <div class="barra_beneficio">
              <div id="barra_10" class="w-100 mb-1 "></div>
            </div>
          </div>
          <div class="card_beneficios">
            <div class="beneficio_number">
              02.
            </div>
            <div class="beneficio_title">
              <p><b>Docentes</b></p>
              <p><b>Calificados</b></p>
            </div>
            <div class="beneficio_text">
              Especialistas que cuentan con una amplia trayectoria en el mundo del arte, dispuestos a compartir sus experiencias y conocimientos con los estudiantes.
            </div>
            <div class="barra_beneficio">
              <div id="barra_10" class="w-100 mb-1 "></div>
            </div>
          </div>
          <div class="card_beneficios">
            <div class="beneficio_number">
              03.
            </div>
            <div class="beneficio_title">
              <p><b>Certificaciones</b></p>
            </div>
            <div class="beneficio_text last">
              Al culminar satisfactoriamente el programa completo o cada uno de los módulos, se entregará un certificado a nombre de la Escuela de Artes Visuales Corriente Alterna.
            </div>
            <div class="barra_beneficio last">
              <div id="barra_10" class="w-100 mb-1 "></div>
            </div>
          </div>
      </div>
      
      </div>

      <div class= "Curso">
        <div class="baner_curso">
          <b-img id="img_Curse" src="./banner_course.svg" fluid alt="Responsive image"></b-img>
        </div>
        <div class="content_curso">
          <div class="text_addressed">
            <div class="card_dirigido">
              <div class="dirigido_title">
                <p><b>Dirigido a:</b></p>
              </div>
              <div class="dirigido_text">
                El programa Arte y Negocio está dirigido a profesionales afines al sector artístico cultural: artistas, diseñadores, curadores, gestores culturales, administradores, comunicadores, entre otros, así como público general entusiasta en
                el arte con una visión de desarrollo de negocios.
              </div>
              <div class="barra_dirigido">
                <div id="barra_10" class="w-100 mb-1 "></div>
              </div>
            </div>
            </div>
          <div class="text_course">
              <div class="card_course">
                <div class="course_title">
                  <p><b>Arte &</b></p>
                  <p><b>Negocio</b></p>
                </div>
                <div class="course_text">
                  Prepárate para desarrollar las habilidades empresariales necesarias para iniciar y gerenciar un emprendimiento artístico en uno de los medios más audaces y cambiantes de la industria cultural.
                  Aprende y aplica diferentes herramientas de análisis e investigación para comercializar estratégicamente tu proyecto artístico, negociar contratos y lograr el éxito empresarial.
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="nuestro_contenido">
        <div class="nuestro_contenido_title">
          <div class= "nuestro_contenido_2">
            <div class="nuestro_contenido_left">
              <div class="nuestro_contenido_title">
              <p><b>Nuestro</b></p>
              <p><b>Contenido</b></p>
              </div>
              <div class="nuestro_contenido_module1">
                <div class="card_module" @click="showModal(1)">
                  <div class="module_title">
                    <p class="course_subtitle1"><b>Módulo 1</b></p>
                    <p class="course_subtitle2"><b>Conociendo</b></p>
                    <p class="course_subtitle2"><b>el mercado</b></p>
                  </div>
                </div>
                <b-img id="img_lupa" src="./lupa.svg" fluid alt="Responsive image"></b-img>
              </div>
              <div class="nuestro_contenido_module2">
                <div class="card_module3" @click="showModal(3)">
                  <div class="module_title">
                    <p class="course_subtitle1"><b>Módulo 3</b></p>
                    <p class="course_subtitle2"><b>Creando</b></p>
                    <p class="course_subtitle2"><b>Negocios</b></p>
                  </div>
                </div>
                <b-img id="img_lupa" src="./negocio.svg" fluid alt="Responsive image"></b-img>
              </div>
            </div>
            <div class="nuestro_contenido_rigth">
              <div class="nuestro_contenido_module3" @click="showModal(2)" >
                <div class="card_module2">
                  <div class="module_title">
                    <p class="module_subtitle1"><b>Módulo 2</b></p>
                    <p class="module_subtitle2"><b>Diseñando</b></p>
                    <p class="module_subtitle2"><b>Estrategias</b></p>
                  </div>
                </div>
                <b-img id="img_strategia" src="./estrategias.svg" fluid alt="Responsive image"></b-img>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class= "nuestros_docentes">
          <div class="content_profesor">
            <div class="title_profesor">
              <p><b>Nuestros</b></p>
              <p><b>Docentes</b></p>
            </div>
            <div class="text_profesor">
              <div id="name_profesor" class="name_profesor">
              </div>
              <div id="text_buttons_profesor" class="text_buttons_profesor">
              </div>
              
              <div id="buttons_text" class="buttons_text">
                <b-button pill @click="getTextTeacher(1)" variant="outline-secondary">1</b-button>
                <b-button pill @click="getTextTeacher(2)" variant="outline-secondary">2</b-button>
                <b-button pill @click="getTextTeacher(3)" variant="outline-secondary">3</b-button>
                <b-button pill @click="getTextTeacher(4)" variant="outline-secondary">4</b-button>
                <b-button pill @click="getTextTeacher(5)" variant="outline-secondary">5</b-button>
                <b-button pill @click="getTextTeacher(6)" variant="outline-secondary">6</b-button>
                <b-button pill @click="getTextTeacher(7)" variant="outline-secondary">7</b-button>
                <b-button pill @click="getTextTeacher(8)" variant="outline-secondary">8</b-button>
                <b-button pill @click="getTextTeacher(9)" variant="outline-secondary">9</b-button>
              </div>
            </div>
          </div>
          <div clas="imagen_profesor">
            <b-img id="img_profesor"   src="./Renzo-Pittaluga.png" fluid alt="Responsive image"></b-img>
            <b-img id="img_logoOculto" src="./Meg-De-Romaña.png" fluid alt="Responsive image"></b-img>
            <b-img id="img_logoOculto" src="./MARIELA-LAIRET.png" fluid alt="Responsive image"></b-img>
            <b-img id="img_logoOculto" src="./IRENE-TOMATIS.png" fluid alt="Responsive image"></b-img>
            <b-img id="img_logoOculto" src="./IAN-CORONADO.png" fluid alt="Responsive image"></b-img>
            <b-img id="img_logoOculto" src="./CARLOS-ZAVALLOS.png" fluid alt="Responsive image"></b-img>
            <b-img id="img_logoOculto" src="./CHARLES-MIRÓ-QUESADA.png" fluid alt="Responsive image"></b-img>
            <b-img id="img_logoOculto" src="./NATALIA-DELGADO.png" fluid alt="Responsive image"></b-img>
            <b-img id="img_logoOculto" src="./CHARLIE.png" fluid alt="Responsive image"></b-img>
          </div>
        </div>
        <div>
          <b-modal ref="modal-xl-0" size="xl">
              <div class="formulario">
                <div class="name">
                  <p><b>Regístrate Aquí</b></p>
                  <input id="name" class="input_" v-model="name" placeholder="Nombres">
                </div>
                <div class="apellidos">
                  <input id="apellido" class="input_" v-model="apellido" placeholder="Apellidos">
                </div>
                <div class="secundario_01">
                  <div class="input_sec" >
                    <input id="dni" class="input_sec_form" v-model="dni" placeholder="DNI">
                  </div>
                  <div class="input_sec">
                    <b-form-select id="selected" class="input_sec_form" v-model="selected" :options="options"></b-form-select>
                  </div>
                </div>
                <div class="secundario_02">
                  <div class="input_sec">
                    <input id="telefono" class="input_sec_form" v-model="telefono" placeholder="Telefono">
                  </div>
                  <div class="input_sec">
                    <input id="email" class="input_sec_form"  v-model="email" placeholder="Email">
                  </div>
                </div>
                <div class="cursos">
                  <b-form-select id="selected_cursos" class="input_" v-model="selected_cursos" :options="options_cursos"></b-form-select>
                </div>
                <div class="check_buttom">
                  <input type="checkbox" id="terminos" value="terminos" v-model="checkedNames">
                  <label for="terminos">Autorizo el uso adecuado de mis datos personales</label>
                </div>
                <div class="enviar">
                  <b-button @click="enviarFormulario()" id="enviar"><p><b>Enviar</b></p></b-button>
                </div>
              </div>
          </b-modal>
          <b-modal ref="modal-xl-1" class="modal-module"  size="xl" title="Extra Large Modal">
            <div class="modal-title">
              <div class ="modal-title-text">
                <p class="title_module"><b>Módulo 1</b></p>
                <p class="title_module1"><b>Conociendo</b></p>
                <p class="title_module1"><b>el Mercado</b></p>
              </div>
              <div class="cerrar-modal">
                <b @click="hideModal(1)">x</b>
              </div>
            </div>
            <div class="modal-contenido">
              <div class="modalcontent-text">
                <div class="card_beneficios">
                  <div class="beneficio_title">
                    <p><b>El Mercado</b></p>
                    <p><b>del Arte</b></p>
                  </div>
                  <div class="beneficio_text">
                    Introducción a los diferentes agentes culturales del Mercado del Arte Contemporáneo, reconociendo sus funciones, interacciones y los procesos detrabajo dentro del entorno cultural internacional.
                  </div>
                  <div class="barra_beneficio">
                    <div id="barra_10" class="w-100 mb-1 "></div>
                  </div>
                </div>
              </div>
              <div class="modalcontent-text">
                <div class="card_beneficios">
                  <div class="beneficio_title">
                    <p><b>Herramientas de</b></p>
                    <p><b>Valuación del Arte</b></p>
                  </div>
                  <div class="beneficio_text">
                    Valuación de obras de arte o proyectos artísticos culturales aplicando las distintas herramientas de valuación y tazación, comprendiendo su valor en el mercado local y global.
                  </div>
                  <div class="barra_beneficio">
                    <div id="barra_10" class="w-100 mb-1 "></div>
                  </div>
                </div>
              </div>
              <div class="modalcontent-text">
                <div class="card_beneficios">
                  <div class="beneficio_title">
                    <p><b>Administración &</b></p>
                    <p><b>Herramientas de</b></p>
                    <p><b>Negocios</b></p>
                  </div>
                  <div class="beneficio_text">
                    Especialistas que cuentan con una amplia trayectoria en el mundo del arte, dispuestos a compartir sus experiencias y conocimientos con los estudiantes.
                  </div>
                  <div class="barra_beneficio">
                    <div id="barra_10" class="w-100 mb-1 "></div>
                  </div>
                </div>
              </div>
            </div>
          </b-modal>
          <b-modal ref="modal-xl-2" class="modal-module"  size="xl" title="Extra Large Modal">
            <div class="modal-title">
              <div class ="modal-title-text">
                <p class="title_module"><b>Módulo 2</b></p>
                <p class="title_module1"><b>Diseñando</b></p>
                <p class="title_module1"><b>Estratégias</b></p>
              </div>
              <div class="cerrar-modal">
                <b @click="hideModal(2)">x</b>
              </div>
            </div>
            <div class="modal-contenido">
              <div class="modalcontent-text">
                <div class="card_beneficios">
                  <div class="beneficio_title">
                    <p><b>Perspectivas Críticas</b></p>
                    <p><b>en el Negocio del Arte</b></p>
                  </div>
                  <div class="beneficio_text">
                    Análisis de casos emblemáticos
                    que involucran perspectivas
                    críticas del Mercado del Arte,
                    poniendo en perspectiva los
                    hechos y problemáticas de la
                    economía y gestión mundial.
                  </div>
                  <div class="barra_beneficio">
                    <div id="barra_10" class="w-100 mb-1 "></div>
                  </div>
                </div>
              </div>
              <div class="modalcontent-text">
                <div class="card_beneficios">
                  <div class="beneficio_title">
                    <p><b>Consultoría</b></p>
                    <p><b>Artística</b></p>
                  </div>
                  <div class="beneficio_text">
                    Revisión de roles, funciones,
                    gestiones, procesos y transacciones entre los intermediarios de
                    compra y venta de obras de arte.
                  </div>
                  <div class="barra_beneficio">
                    <div id="barra_10" class="w-100 mb-1 "></div>
                  </div>
                </div>
              </div>
              <div class="modalcontent-text">
                <div class="card_beneficios">
                  <div class="beneficio_title">
                    <p><b>Estrategias Comerciales</b></p>
                    <p><b>en el Mundo del Arte</b></p>
                  </div>
                  <div class="beneficio_text">
                    Se brindan las herramientas para
                    proponer estrategias comerciales
                    y poder ejecutarlas en diferentes
                    contextos dentro del Mercado del
                    Arte.
                  </div>
                  <div class="barra_beneficio">
                    <div id="barra_10" class="w-100 mb-1 "></div>
                  </div>
                </div>
              </div>
            </div>
          </b-modal>
          <b-modal ref="modal-xl-3" class="modal-module"  size="xl" title="Extra Large Modal">
            <div class="modal-title">
              <div class ="modal-title-text">
                <p class="title_module"><b>Módulo 3</b></p>
                <p class="title_module1"><b>Creando</b></p>
                <p class="title_module1"><b>Negocios</b></p>
              </div>
              <div class="cerrar-modal">
                <b @click="hideModal(3)">x</b>
              </div>
            </div>
            <div class="modal-contenido">
              <div class="modalcontent-text">
                <div class="card_beneficios">
                  <div class="beneficio_title">
                    <p><b>Emprendimiento de</b></p>
                    <p><b>Proyectos Artísticos</b></p>
                  </div>
                  <div class="beneficio_text">
                    Análisis profundo en el día a día
                    de la operativa de las diferentes
                    gestiones de emprendimiento
                    en el mundo del arte y la normativa legal respectiva en cada
                    momento del negocio.
                  </div>
                  <div class="barra_beneficio">
                    <div id="barra_10" class="w-100 mb-1 "></div>
                  </div>
                </div>
              </div>
              <div class="modalcontent-text">
                <div class="card_beneficios">
                  <div class="beneficio_title">
                    <p><b>Plan de Marketing</b></p>
                    <p><b>Valuación del Arte</b></p>
                  </div>
                  <div class="beneficio_text">
                    Desarrollo de estrategias de
                    Marketing a través de la aplicación de métodos representativos, integrando los componen
                    tes comerciales y de marca con

                    los distintos elementos de una
                    iniciativa artística.
                  </div>
                  <div class="barra_beneficio">
                    <div id="barra_10" class="w-100 mb-1 "></div>
                  </div>
                </div>
              </div>
              <div class="modalcontent-text">
                <div class="card_beneficios">
                  <div class="beneficio_title">
                    <p><b>Gestión de Proyectos</b></p>
                    <p><b>de Negocio</b></p>
                  </div>
                  <div class="beneficio_text">
                    Integración de los tres módulos
                    del programa, se desarrollará
                    una propuesta completa de
                    gestión de negocio en el mundo
                    del arte.
                  </div>
                  <div class="barra_beneficio">
                    <div id="barra_10" class="w-100 mb-1 "></div>
                  </div>
                </div>
              </div>
            </div>
          </b-modal>
        </div>
      </div>
      <div class="footer">
          <div class="left_footer">
            <div class="logo_footer">
              <b-img id="img_logo_footer" class="img-FluidLoad" src="./logo_blanco.svg" fluid alt="Responsive image"></b-img>
            </div>
            <div class="direccion_footer">
              <div class="direccion_text">
                <p>(01) 242 8482</p>
                <p>Av. De La Aviación 500, Miraflores</p>
                <p>informes@corrientealterna.edu.pe</p>
              </div>
            </div>
          </div>
          <div class="rigth_footer">
            <div class="icon_footer">
              <b-link href="https://web.facebook.com/EscuelaCorrienteAlterna/"><b-img id="img_fb_footer" src="./facebook-f-brands.svg" fluid alt="Responsive image"></b-img></b-link>
            </div>
          </div>
        </div>
    </div>
</template>

<script src="https://smtpjs.com/v3/smtp.js"></script>

<script>
import Logo from '~/components/Logo.vue'
import Swal from 'sweetalert2'

export default {
  formulario:false,
  checkedNames:false,
  name:"",
  apellido:"",
  dni:"",
  genero:"",
  email:"",
  telefono:"",
  curso:"",
  data() {
      return {
        selected: null,
        options: [
          { value: null, text: 'Seleccione Genero' },
          { value: 'Masculino', text: 'Masculino' },
          { value: 'Femenino', text: 'Femenino' },
        ],
        selected_cursos: null,
        options_cursos: [
          { value: null, text: 'Selecione Curso' },
          { value: 'Artey & Negocio', text: 'Arte & Negocio' },
        ]
      }
    },
  components: {

  },
  mounted() {
    this.responsivePage()
    this.changeColor()
    this.getTextTeacher(1)
  },
  methods:{
    responsivePage(){
      if(screen.width < 700){
          this.$refs[`modal-xl-0`].show()
      }
    },
    changeColor(){
      window.addEventListener('scroll', function(event) { // To listen for eve∫nt
      event.preventDefault();
        if (window.scrollY <= 150) { // Just an example
          document.getElementById("navbar").style.backgroundColor = "transparent"
          document.getElementById("icon").style.color = "#161615"
          document.getElementById("text_icon").style.color = "#161615"
          document.getElementById("img_logo").style.width = "15vh"
          document.getElementById("img_logo").src = "/_nuxt/img/4ead1e6.svg"
        } else {
          document.getElementById("navbar").style.backgroundColor = "#161615"
          document.getElementById("icon").style.color = "#ffffff"
          document.getElementById("text_icon").style.color = "#ffffff"
          document.getElementById("img_logo").style.width = "15vh"
          document.getElementById("img_logo").src = "/_nuxt/img/092c4a2.svg"
        }
      });
    },
    getTextTeacher(index){
      let html= ""
        console.log(index)
        switch (index) {
          case 1:
            html+="<div class='beneficio_number'>"
            html+=`0${index}.`
            html+='</div>'
            html+="<div class='beneficio_title'>"
            html+="<p><b>Renzo</b></p>"
            html+="<p><b>Pittaluga Carranza</b></p>"
            document.getElementById("name_profesor").innerHTML = html
            document.getElementById("text_buttons_profesor").innerHTML = 'Graduado en Derecho en la Universidad Peruana de Ciencias Aplicadas y Certificado en Artes Plásticas en la Escuela de Arte Corriente Alterna. Director de la Galería Impakto desde el año 2014. '
            document.getElementById("img_profesor").src ="/_nuxt/img/1b5aeb5.png"
            html=""
            break;
          case 2:
            html+="<div class='beneficio_number'>"
            html+=`0${index}.`
            html+='</div>'
            html+="<div class='beneficio_title'>"
            html+="<p><b>Meg</b></p>"
            html+="<p><b>De Romaña</b></p>"
            document.getElementById("name_profesor").innerHTML = html
            document.getElementById("text_buttons_profesor").innerHTML = 'Asesora y coleccionista de arte contemporáneo, Magister en Biotechnology y en Human Nutrition en Columbia University. Ha complementado sus conocimientos de arte contemporáneo en Sotheby’s Institute of Art. Es CEO de Meg Art Advisor, empresa asesora en arte contemporáneo y fundadora del FOLA en Buenos Aires. Acargo del programa VIP en ferias de arte como PArC (2013) y Lima Photo (2015). Brinda asesoría de arte a las principales ferias del circuito Latam - Miami - Madrid.'
            document.getElementById("img_profesor").src ="/_nuxt/img/e652ad9.png"
            html=""
            break;
          case 3:
            html+="<div class='beneficio_number'>"
            html+=`0${index}.`
            html+='</div>'
            html+="<div class='beneficio_title'>"
            html+="<p><b>Carlos</b></p>"
            html+="<p><b>Zevallos Trigoso</b></p>"
            document.getElementById("name_profesor").innerHTML = html
            document.getElementById("text_buttons_profesor").innerHTML = 'Magister en Antropología Visual por la Pontificia Universidad Católica del Perú, donde también es docente y miembro del Grupo de Investigación en Antropología Visual. Actualmente es docente en la PUCP y en la Escuela de Arte Visuales Corriente Alterna. Investigador y co-responsable de estudio sobre las dinámicas del mercado de arte contemporáneo en Lima.'
            document.getElementById("img_profesor").src ="/_nuxt/img/7d1288c.png"
            html=""
            break;
          case 4:
            html+="<div class='beneficio_number'>"
            html+=`0${index}.`
            html+='</div>'
            html+="<div class='beneficio_title'>"
            html+="<p><b>Charles</b></p>"
            html+="<p><b>Miró Quesada</b></p>"
            document.getElementById("name_profesor").innerHTML = html
            document.getElementById("text_buttons_profesor").innerHTML = 'Ph.D. en Historia del Arte en análisis crítico, conservación y gestión del patrimonio artístico de la University of Pennsylvania, Magister en Bellas Artes con mención en Historia del Arte y Arquitectura de la Boston University y Licenciado en Bellas Artes con mención en fotografía de la Universidad de Seattle. Actualmente, es Jefe de Artes Visuales de la Gerencia Cultural del Instituto Cultural Peruano Norteamericano (ICPNA). '
            document.getElementById("img_profesor").src ="/_nuxt/img/b48ba63.png"
            html=""
            break;
          case 5:
            html+="<div class='beneficio_number'>"
            html+=`0${index}.`
            html+='</div>'
            html+="<div class='beneficio_title'>"
            html+="<p><b>Irene</b></p>"
            html+="<p><b>Tomatis</b></p>"
            document.getElementById("name_profesor").innerHTML = html
            document.getElementById("text_buttons_profesor").innerHTML = 'Magister en Gestión Cultural por la Universidad Internacional de Cataluña y Economista por la Universidad del Pacífico. Con más de 15 años de experiencia en la industria del arte, trabajó en el Museo de Arte de Lima, Centro Cultural de la Asociación Cultural Peruano-Británica y recientemente en la Galería Lucia de la Puente. Actualmente, dirige Uniaduanas especializada en el traslado internacional de obras de arte.'
            document.getElementById("img_profesor").src ="/_nuxt/img/8aa4afc.png"
            html=""
            break;
          case 6:
            html+="<div class='beneficio_number'>"
            html+=`0${index}.`
            html+='</div>'
            html+="<div class='beneficio_title'>"
            html+="<p><b>Ian</b></p>"
            html+="<p><b>Coronado</b></p>"
            document.getElementById("name_profesor").innerHTML = html
            document.getElementById("text_buttons_profesor").innerHTML = 'Especialista en Emprendimiento y Competitividad por el Columbia Business School de Nueva York. Coloborador en la revista Arte al Límite. Actualmente dirige Moustachine, marca premium de agendas y bitácoras para el mercado local e internacional en colaboración con artistas y creativos.'
            document.getElementById("img_profesor").src ="/_nuxt/img/9ee03a9.png"
            html=""
            break;
          case 7:
            html+="<div class='beneficio_number'>"
            html+=`0${index}.`
            html+='</div>'
            html+="<div class='beneficio_title'>"
            html+="<p><b>Mariela</b></p>"
            html+="<p><b>Lairet</b></p>"
            document.getElementById("name_profesor").innerHTML = html
            document.getElementById("text_buttons_profesor").innerHTML = 'Tiene un postgrado en Gestión de Arte Actual de la Universidad de Barcelona, España. Especializaciones en Mercado del Arte e Historia del Arte Contemporáneo en el Instituto de Arte Sotheby’s. Fue Directora y Curadora de la Galería Estudio Arte en Venezuela. Participó y asistió exponiendo sus artistas en numerosas ferias tales como PINTA Nueva York, PINTA Londres, FIA Caracas, FIART República Dominicana, entre otras.'
            document.getElementById("img_profesor").src ="/_nuxt/img/92b4633.png"
            html=""
            break;
          case 8:
            html+="<div class='beneficio_number'>"
            html+=`0${index}.`
            html+='</div>'
            html+="<div class='beneficio_title'>"
            html+="<p><b>Natalia</b></p>"
            html+="<p><b>Delgado</b></p>"
            document.getElementById("name_profesor").innerHTML = html
            document.getElementById("text_buttons_profesor").innerHTML = `Especialista en Arte Moderno y Contemporáneo por el Centre d'Art et de Culture IESA París y Magister en Marketing y Dirección Comercial en ESIC Escuela de Negocios de Madrid. Fundadora y directora de TALE - Travel Art and Luxury Experience, empresa especializada en estrategias de fidelización y captación de clientes de alto patrimonio a través de experiencias de lujo asociadas principalmente al arte.`
            document.getElementById("img_profesor").src ="/_nuxt/img/bde1f6f.png"
            html=""
            break;
          case 9:
            html+="<div class='beneficio_number'>"
            html+=`0${index}.`
            html+='</div>'
            html+="<div class='beneficio_title'>"
            html+="<p><b>Carlos</b></p>"
            html+=`<p><b>García-Montero</b></p>`
            document.getElementById("name_profesor").innerHTML = html
            document.getElementById("text_buttons_profesor").innerHTML = `Historiador, curador, consultor de Arte. Jefe del Área Académica de la Escuela de Artes Visuales CorrienteAlterna (Lima). Dirigió Y Gallery (Nueva York), realizó clínicas y asesorías para la New York Foundation for the Arts y Residency Unlimited. Jurado del premio nacional de arte contemporáneo de CCU en Santiago de Chile (2015) y del pabellón peruano para la Bienal de Venecia(2018). Ganador de Grants de la Comisión Fulbright, The International Institute for Education (IIE), LASPAU(Harvard University) y el San Francisco Art Institute (SFAI).`
            document.getElementById("img_profesor").src ="/_nuxt/img/e248490.png"
            html=""
            break;
        
          default:
            break;
        }      
    },
    enviarFormulario(){
      const Email = { send: function (a) { return new Promise(function (n, e) { a.nocache = Math.floor(1e6 * Math.random() + 1), a.Action = "Send"; var t = JSON.stringify(a); Email.ajaxPost("https://smtpjs.com/v3/smtpjs.aspx?", t, function (e) { n(e) }) }) }, ajaxPost: function (e, n, t) { var a = Email.createCORSRequest("POST", e); a.setRequestHeader("Content-type", "application/x-www-form-urlencoded"), a.onload = function () { var e = a.responseText; null != t && t(e) }, a.send(n) }, ajax: function (e, n) { var t = Email.createCORSRequest("GET", e); t.onload = function () { var e = t.responseText; null != n && n(e) }, t.send() }, createCORSRequest: function (e, n) { var t = new XMLHttpRequest; return "withCredentials" in t ? t.open(e, n, !0) : "undefined" != typeof XDomainRequest ? (t = new XDomainRequest).open(e, n) : t = null, t } };
      Email.send({
        Host : "smtp.elasticemail.com",
        Username : "002c6801-05eb-4727-b711-5d72c1199c02",
        Password : "f7a6a489-d928-4740-b905-7f280664e6d8",
        To : 'informes@corrientealterna.edu.pe',
        From : "landingcorrientealterna@gmail.com",
        Subject : "Landing PEAC / Arte & Negocio",
        Body : `<html>
        <p>Nombre: ${document.getElementById("name").value}</p>
        <p>Apellido: ${document.getElementById("apellido").value}</p>
        <p>DNI: ${document.getElementById("dni").value}</p>
        <p>Género: ${document.getElementById("selected").value}</p>
        <p>Email: ${document.getElementById("email").value}</p>
        <p>Telefono: ${document.getElementById("telefono").value}</p>
        <p>Curso: ${document.getElementById("selected_cursos").value}</p>
        </html>
        `
      }).then(
        Swal.fire("Listo!", "Se envio tu formulario correctamente!", "success")
      );
      this.name=""
      this.apellido=""
      this.dni=""
      this.genero=""
      this.email=""
      this.telefono=""
      this.curso=""
    },
    showModal(item) {
      this.$refs[`modal-xl-${item}`].show()
    },
    hideModal(item) {
      this.$refs[`modal-xl-${item}`].hide()
    },
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

#__BVID__16___BV_modal_body_ .modal-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 5%;
    padding-left: 2%;
    height: 43%;
}
#__BVID__16___BV_modal_body_ .title_module{
    margin-top: 0;
    margin-bottom: 0rem;
    line-height: 6vh;
    font-size: 6vh;
    color: white;
}
#__BVID__16___BV_modal_body_ .title_module1{
    margin-top: 0;
    margin-bottom: 0rem;
    line-height: 9vh;
    font-size: 10vh;
    color: white;
}
#__BVID__16___BV_modal_body_ .cerrar-modal{
    color: white;
    font-size: 10vh;
    padding-right: 2%;
    cursor: pointer
}

#__BVID__16___BV_modal_body_ .modal-contenido{
  display: flex;
}

#__BVID__16___BV_modal_body_ .modalcontent-text .card_beneficios{
  width: 100%;
}
#__BVID__16___BV_modal_body_ .modalcontent-text .card_beneficios .beneficio_title{
    position: relative;
    bottom: 0vh;
    text-align: center;
    line-height: 6vh;
    color: white;
    padding-left: 10%;
    text-align: left;
}
#__BVID__16___BV_modal_body_ .modalcontent-text .card_beneficios .beneficio_text{
    position: relative;
    bottom: 0vh;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    text-align: justify;
}
#__BVID__16___BV_modal_body_ .modalcontent-text .card_beneficios .barra_beneficio {
    padding-right: 56%;
    position: relative;
    bottom: 0vh;
    top: 2vh;
    padding-left: 10%;
}

#__BVID__16___BV_modal_body_ .modalcontent-text .card_beneficios #barra_10 {
    background-color: white;
    height: 1.4vh;
}

#__BVID__18___BV_modal_body_ .modal-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 5%;
    padding-left: 2%;
    height: 43%;
}
#__BVID__18___BV_modal_body_ .title_module{
    margin-top: 0;
    margin-bottom: 0rem;
    line-height: 6vh;
    font-size: 6vh;
    color: white;
}
#__BVID__18___BV_modal_body_ .title_module1{
    margin-top: 0;
    margin-bottom: 0rem;
    line-height: 9vh;
    font-size: 10vh;
    color: white;
}
#__BVID__18___BV_modal_body_ .cerrar-modal{
    color: white;
    font-size: 10vh;
    padding-right: 2%;
    cursor: pointer
}

#__BVID__18___BV_modal_body_ .modal-contenido{
  display: flex;
}
#__BVID__18___BV_modal_body_ .modal-title{
  width: 100%;
}

#__BVID__18___BV_modal_body_ .modalcontent-text .card_beneficios{
  width: 100%;
}
#__BVID__18___BV_modal_body_ .modalcontent-text .card_beneficios .beneficio_title{
    position: relative;
    bottom: 0vh;
    text-align: center;
    line-height: 6vh;
    color: white;
    padding-left: 10%;
    text-align: left;
}
#__BVID__18___BV_modal_body_ .modalcontent-text .card_beneficios .beneficio_text{
    position: relative;
    bottom: 0vh;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    text-align: justify;
}
#__BVID__18___BV_modal_body_ .modalcontent-text .card_beneficios .barra_beneficio {
    padding-right: 56%;
    position: relative;
    bottom: 0vh;
    top: 2vh;
    padding-left: 10%;
}

#__BVID__18___BV_modal_body_ .modalcontent-text .card_beneficios #barra_10 {
    background-color: white;
    height: 1.4vh;
}



#__BVID__17___BV_modal_body_ .modal-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 5%;
    padding-left: 2%;
    height: 43%;
}
#__BVID__17___BV_modal_body_ .title_module{
    margin-top: 0;
    margin-bottom: 0rem;
    line-height: 6vh;
    font-size: 6vh;
    color: black;
}
#__BVID__17___BV_modal_body_ .title_module1{
    margin-top: 0;
    margin-bottom: 0rem;
    line-height: 9vh;
    font-size: 10vh;
    color: black;
}
#__BVID__17___BV_modal_body_ .cerrar-modal{
    color: black;
    font-size: 10vh;
    padding-right: 2%;
    cursor: pointer
}

#__BVID__17___BV_modal_body_ .modal-contenido{
  display: flex;
}
#__BVID__17___BV_modal_body_ .modal-title{
  width: 100%;
  color: black
}

#__BVID__17___BV_modal_body_ .modalcontent-text .card_beneficios{
  width: 100%;
}
#__BVID__17___BV_modal_body_ .modalcontent-text .card_beneficios .beneficio_title{
    position: relative;
    bottom: 0vh;
    text-align: center;
    line-height: 6vh;
    color: black;
    padding-left: 10%;
    text-align: left;
}
#__BVID__17___BV_modal_body_ .modalcontent-text .card_beneficios .beneficio_text{
    position: relative;
    bottom: 0vh;
    color: black;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    text-align: justify;
}
#__BVID__17___BV_modal_body_ .modalcontent-text .card_beneficios .barra_beneficio {
    padding-right: 56%;
    position: relative;
    bottom: 0vh;
    top: 2vh;
    padding-left: 10%;
}

#__BVID__17___BV_modal_body_ .modalcontent-text .card_beneficios #barra_10 {
    background-color: black;
    height: 1.4vh;
}

.body {
  height: 140vh;
  /*height: 4800px; con video antes del footer*/
  width: 100%;
}
#text_icon p{
  font-size: 10px;
}
nav#navbar{
  width: 100%;
}
.navbar-dark .navbar-brand{
  padding-left: 10vh;
  color: black;
}
div#carousel-no-animation{
  z-index: 0;
}
.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 6vh;
  height: 10vh;
}
.ml-auto {
  margin-right: 13vh;
}
#img_logoOculto{
  display: none;
}
#img_logo{
  width: 15vh;
}
#img_informes{
  width: 2vh;
  padding-bottom: 2.5vh;
}
#img_profesor{
  width: 82vh;
}
.text_addressed{
  width: 50%;
}
#img_lupa{
  position: relative;
  bottom: 34vh;
  width: 37vh;
  right: 8vh;
}
#img_strategia{
  position: relative;
  bottom: 46vh;
  width: 55vh;
}
.bg-info{
  z-index: 1;
}
.title_Card{
  padding-left: 12vh;
  padding-top: 5vh;
}
.letter{
  position: absolute;
  top: 5.5vh;
  left: 83vh;
}
.title_Second{
  font-size: 10vh;
  color: #DA1A40;
}
.content {
    z-index: 0;
    top: 0;
    width: 100%;
    padding-bottom: 10vh;
}
.carousel-caption{
  top: 12vh;
  color: #DA1A40;

}
.carousel-caption h3{
  font-size: 62vh;
}
.textPrincipal {
  display: flex;
  position: relative;
  justify-content: flex-start;
  height: 25vh;
  align-items: center;
  padding-left: 12vh;
  padding-right: 19vh;
  bottom: 6vh;

}
.barra {
  padding-left: 13vh;
}
.card-body{
  display: flex;
}
.card {
  height: 100%;
  width: 100%;
  flex-direction: row;
  border: 0px solid;
}
.card_couse{
  height: 100%;
  width: 100%;
  flex-direction: row;
  border: 0px solid;
}
.cards{
  display: flex;
  justify-content: space-around;
  padding-left: 5vh;
  padding-right: 5vh;
  height: 100%;
  width: 92%;
}
.card_beneficios{
  width: 22%;
}
.img-fluid{
  width: 100%;
}

.beneficio_text.last{
  bottom: 17vh;
}
.barra_beneficio.last{
  bottom: 16vh;
}
#barra_25{
  background-color: #DA1A40;
  height: 1vh;
}
#barra_10{
  background-color: #DA1A40;
  height: 1.4vh;
}
.beneficios{
  padding-top: 10vh;
}
.text_card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 4vh;
  padding-right: 4vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.in_text_card{
  font-size: 3vh;
}
.beneficio_number{
  font-size: 35vh;
  color: #C1BDBD;
}
.beneficio_title{
  position: relative;
  bottom: 26vh;
  text-align: center;
  line-height: 6vh;
}
.dirigido_title{
  text-align: left;
}
.nuestro_contenido_title{
  text-align: left;
  line-height: 7vh;
}
.course_title{
  color: #ffffff;
  padding-top: 5vh;
}
.module_title{
  color: #ffffff;
  padding-top: 5vh;
  padding-left: 7vh;
  line-height: 7vh;
}
.course_title p{
  font-size: 11vh;
  line-height: 11vh;
}
.beneficio_title p{
  font-size: 5vh;
}
.dirigido_title p{
  font-size: 5vh;
}
.nuestro_contenido_title p{
  font-size: 8vh;
}
.course_subtitle1{
  font-size: 3vh !important;
}
.module_subtitle1{
  font-size: 3vh !important;
  color: #161615;
}
.module_subtitle2{
  font-size: 8vh !important;
  color: #161615;
}
.dirigido_text{
  padding-top: 3vh;
  font-size: 3vh;
}
.course_text{
  padding-top: 5vh;
  font-size: 3vh;
  color: #ffff;
  padding-right: 7vh;

}
.barra_beneficio{
  padding-right: 25vh;
  position: relative;
  bottom: 21vh;
}
.barra_dirigido{
  padding-right: 60vh;
  position: relative;
  top: 2vh;
}
.beneficio_text{
  position: relative;
  bottom: 22vh;
}

.content_curso {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 57vh;
}
.card_dirigido{
  height: 100%;
  padding-left: 49px;
  padding-top: 4vh;
  width: 78vh;
  padding-right: 22px;
}

.card_course{
  min-height: 78vh;
  padding-left: 13vh;
  padding-top: 4vh;
  width: 100%;
  background-color: #DA1A40;
  position: relative;
  bottom: 51vh;
}
.card_module{
  background-color: #DA1A40;
  height: 42vh;
  width: 69vh;
}
.card_module3{
  background-color: #161615;
  height: 42vh;
  width: 69vh;
}
.card_module2{
  width: 100%;
  background-color: #E7E7E7;
  height: 42vh;
}
.nuestro_contenido{
  padding-left: 6.5vh;
  height: 100vh;
  display: flex;

}
.nuestro_contenido_left{
  display: flex;
  flex-direction: column;
}
.nuestro_contenido_rigth {
    position: relative;
    top: 38vh;
    padding-left: 4vh;
    width: 100%;
}
.nuestro_contenido_module1{
  padding-top: 5vh;
  height: 50vh;
  cursor: pointer;
}
.nuestro_contenido_module2{
  padding-top: 5vh;
  height: 50vh;
  cursor: pointer;
}
.course_subtitle{
  line-height: 11vh;
}
.course_subtitle1{
  font-size: 15vh
}
.course_subtitle2{
  font-size: 8vh !important;
}
.content_profesor{
  width: 50%;
}
.nuestros_docentes{
  display: flex;
  width: 100%;
  padding-top: 22vh;
  height: 100vh;
}
.title_profesor p{
  font-size: 8vh
}
.title_profesor{
  text-align: left;
  line-height: 8vh;
  padding-left: 12vh;
}

.text_profesor{
  text-align: left;
  padding-left: 12vh;
  padding-top: 6vh;
}
.name_profesor p{
  line-height: 4vh;
  font-size: 3vh;
}
.text_buttons_profesor{
  display: flex;
  justify-content: center;
  position: relative;
  height: 24vh;
  bottom: 12vh;
}
.buttons_text{
  padding-right: 22vh;
  display: flex;
  justify-content: space-evenly;
}
.name_profesor{
  position: relative;
  bottom: 8vh;
  height: 30vh;
}
.name_profesor .beneficio_title{
  position: relative;
  bottom: 14.6vh;
  line-height: 6vh;
  text-align: left;
  padding-left: 8vh;
}
.name_profesor .beneficio_number{
  font-size: 21vh;
  color: #C1BDBD;
}
.footer{
  width: 100%;
  background-color: #161615;
  position: absolute;
  /*height: 4800px; con video antes del footer*/
  height:25vh;
  display: flex;
  justify-content: space-evenly;
}
.left_footer{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 13vh;
}
.rigth_footer{
  width: 100%;
}
.direccion_text{
  font-size: 21vh;
  color: #C1BDBD;
}
#img_logo_footer{
  width: 192px;
}
#img_fb_footer{
  width: 2vh;
}
.icon_footer{
padding-left: 227px;
}
.direccion_text p{
  font-size: 2.4vh;
  line-height: 3vh;
}
.rigth_footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
p {
  margin-top: 0; 
  margin-bottom: 0rem;
  font-size: 1vh;
}
h1{
  font-size: 73vh;
  color:#DA1A40;
}
h2{
  margin-bottom: 0rem;
}
.container {
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}
.botonF1{
  width: 8vh;
  height: 8vh;
  border-radius: 100%;
  background: #DA1A40;
  right: 31vh;
  bottom: 19vh;
  position: fixed;
  border: none;
  outline: none;
  color: #FFF;
  font-size: 5vh;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: .3s;
  z-index: 10;
}
.formulario{
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  padding-left: 17vh;
  width: 96%;
}
.enviar.btn.btn-secondary{
  display: none;
}
.modal-footer{
  display: none;
}
#enviar{
  width: 80%;
  background-color: #161615;
}
.btn.btn-primary{
  display: none;
}
.name p{
  font-size: 6vh;
}
.name, .apellidos,.secundario_01,.secundario_02{
  padding-bottom: 2vh;
}
.secundario_01,.secundario_02{
  display: flex;
  width: 80%;
}
.dni{
  padding-right: 1vh;
}

input.input_{
  width: 80%;
  height: 6vh;
  background-color: #e1e6ea;
}
.input_{
  width: 80%;
  height: 6vh;
  background-color: #e1e6ea;
}

.input_sec{
  width: 50%;
  height: 6vh;
  background-color: #e1e6ea;
}
.input_sec_form{
  width: 100%;
  height: 6vh;
  background-color: #e1e6ea;
}
.enviar p{
  font-size: 3vh;
}
.close{
  font-size: 3.5rem;
}
#__BVID__16___BV_modal_header_{
  display: none
}
#__BVID__17___BV_modal_header_{
  display: none
}
.modal-dialog.modal-xl{
  max-width: 100%;
  margin: 0px auto; 
}

#__BVID__16 {
    position: fixed;
    bottom: 3.7vh;
    left: 0vh;
    z-index: 1050;
    width: 100%;
    height: 100%;
    outline: 0;
}
#__BVID__17 {
    position: fixed;
    bottom: 3.7vh;
    left: 0vh;
    z-index: 1050;
    width: 100%;
    height: 100%;
    outline: 0;
}
#__BVID__16___BV_modal_body_{
    position: relative;
    flex: 1 1 auto;
    height: 100%;
    padding: 1rem;
    background-color: #DA1A40
}
#__BVID__18___BV_modal_body_{
    position: relative;
    flex: 1 1 auto;
    height: 100%;
    padding: 1rem;
    background-color: #161615
}
#__BVID__17___BV_modal_body_{
    position: relative;
    flex: 1 1 auto;
    height: 100%;
    padding: 1rem;
    background-color: #E7E7E7
}
#__BVID__18___BV_modal_header_{
  display: none
}
.modal-dialog.modal-xl{
  max-width: 100%;
  margin: 0px auto; 
}

#__BVID__18 {
    position: fixed;
    bottom: 3.7vh;
    left: 0vh;
    z-index: 1050;
    width: 100%;
    height: 100%;
    outline: 0;
}
#__BVID__18___BV_modal_body_{
    position: relative;
    flex: 1 1 auto;
    height: 100%;
    padding: 1rem;
}
.nuestro_contenido_module3 {
  height: 34%;
  width: 100%;
  cursor: pointer;
}

@media (min-width: 576px){
  .modal-dialog {
    max-width: 60%;
    margin: 1.75rem auto;
  }
}
.modal-dialog.modal-xl{
  height: 93%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.modal-body{
  position: relative;
  flex: 1 1 auto;
  height: 86.5vh;
  padding: 1rem;
}
.links {
  padding-top: 15px;
}
.btn-outline-secondary:hover{
  color: #fff;
  background-color: #DA1A40;
  border-color: #DA1A40;
}
.btn-outline-secondary{
  color: white;
  border-color: #b7bdc1;
  background-color: #b7bdc1;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active{
  color: #fff;
  background-color: #DA1A40;
  border-color: #DA1A40;
}
.nuestro_contenido_2{
  display: flex;
}
#__BVID__15{
  width: 50%;
}
.modal {
    position: fixed;
    bottom: 3.7vh;
    left: 25%;
    z-index: 1050;
    width: 100%;
    height: 100%;
    outline: 0;
}
@media (max-width: 984px) {
.in_text_card {
  font-size: 2vh;
}
.beneficio_number {
    font-size: 27vh;
    color: #C1BDBD;
}
.beneficio_title {
    position: relative;
    bottom: 27vh;
    text-align: center;
    line-height: 5vh;
    padding-top: 7vh;
}
.barra_beneficio {
    padding-right: 27vh;
    position: relative;
    bottom: 19vh;
}
.card_beneficios {
    width: 100%;
}
.card_dirigido {
    height: 100%;
    padding-left: 10vh;
    padding-top: 4vh;
    width: 66vh;
}
.barra_dirigido {
    padding-right: 42vh;
    position: relative;
    top: 2vh;
}
.course_text {
    padding-top: 5vh;
    font-size: 2vh;
    color: rgba(255,255,255,1);
    padding-right: 7vh;
}
.name_profesor .beneficio_title {
    position: relative;
    bottom: 22vh;
    line-height: 6vh;
    text-align: left;
    padding-left: 8vh;
}
.text_buttons_profesor {
    display: flex;
    justify-content: center;
    position: relative;
    height: 24vh;
    bottom: 12vh;
    font-size: 2vh;
}
.buttons_text {
    display: flex;
    justify-content: space-evenly;
    padding-right: 0vh;
}
.carousel-caption {
    top: 4vh;
}
.card_course {
    height: 66vh;
    padding-left: 13vh;
    padding-top: 4vh;
    width: 100%;
    background-color: #da1a40;
    position: relative;
    bottom: 43vh;
}
.dirigido_text {
    padding-top: 3vh;
    font-size: 2vh;
}
#img_profesor {
    width: 100%;
    padding-left: 10vh;
}
.modal {
    position: fixed;
    bottom: 3.7vh;
    left: 25%;
    z-index: 1050;
    width: 100%;
    height: 100%;
    outline: 0;
}
.nuestro_contenido_2 {
    padding-left: 6.5vh;
    height: 100vh;
    display: flex;
    width: 100%;
}
.nuestro_contenido_3 {
  height: 37%;
}
    
.nuestro_contenido_module1 {
    padding-top: 5vh;
    height: 26%;
    z-index: 1;
}
.nuestro_contenido_module2{
      padding-top: 5vh;
    height: 26%;
    z-index: 3;
}
.nuestro_contenido {
    padding-left: 6.5vh;
    height: 100vh;
    display: flex;
}
.card_module {
    background-color: #DA1A40;
    height: 42vh;
    width: 100%;
}
.nuestro_contenido_2 {
    padding-left: 6.5vh;
    height: 100vh;
    display: flex;
    width: 100%;
}
.nuestro_contenido_left {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.nuestro_contenido_title {
    text-align: left;
    line-height: 7vh;
    width: 50%;
}
.nuestro_contenido_module1, .nuestro_contenido_module2 {
    padding-top: 5vh;
    height: 45%;
}
.card_module3 {
    background-color: #161615;
    height: 42vh;
    width: 100%;
}
.course_subtitle2 {
    font-size: 5vh !important;
}
.card_module {
    background-color: #DA1A40;
    height: 100%;
    width: 100%;
}
.card_module3 {
    background-color: #161615;
    height: 100%;
    width: 100%;
}
.nuestro_contenido_module3 {
  height: 34%;
  width: 100%;
  cursor: pointer;
}
.module_subtitle2 {
    font-size: 5vh !important;
    color: #161615;
}
.card_module2{
    width: 100%;
    background-color: #E7E7E7;
    height: 100%;
}
.card_module2 .module_title{
    color: #ffffff;
    padding-top: 5vh;
    padding-left: 7vh;
    line-height: 7vh;
    padding-right: 10vh;
}
#img_strategia {
    position: relative;
    bottom: 35vh;
    width: 100%;
}
.carousel-caption h3 {
    font-size: 41vh;
}
#img_profesor {
    width: 100%;
    padding-left: 10vh;
    padding-top: 13vh;
}
}

@media (max-width: 718px) {
.nuestro_contenido_module1, .nuestro_contenido_module2 {
    padding-top: 5vh;
    height: 26%;
}
.nuestro_contenido {
    padding-left: 6.5vh;
    height: 100vh;
    display: flex;
}
.card_module {
    background-color: #DA1A40;
    height: 42vh;
    width: 100%;
}
.nuestro_contenido_2 {
    padding-left: 6.5vh;
    height: 100vh;
    display: flex;
    width: 100%;
}
.nuestro_contenido_left {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.nuestro_contenido_title {
    text-align: left;
    line-height: 7vh;
    width: 50%;
}
.nuestro_contenido_module1, .nuestro_contenido_module2 {
    padding-top: 5vh;
    height: 45%;
}
.card_module3 {
    background-color: #161615;
    height: 42vh;
    width: 100%;
}
.course_subtitle2 {
    font-size: 5vh !important;
}
.card_module {
    background-color: #DA1A40;
    height: 100%;
    width: 100%;
}
.card_module3 {
    background-color: #161615;
    height: 100%;
    width: 100%;
}
.nuestro_contenido_module3 {
  height: 34%;
  width: 100%;
}
.module_subtitle2 {
    font-size: 5vh !important;
    color: #161615;
}
.card_module2{
    width: 100%;
    background-color: #E7E7E7;
    height: 100%;
}
.card_module2 .module_title{
    color: #ffffff;
    padding-top: 5vh;
    padding-left: 7vh;
    line-height: 7vh;
    padding-right: 10vh;
}
#img_strategia {
    position: relative;
    bottom: 36.2vh;
    width: 100%;
}
.card_dirigido {
    height: 100%;
    padding-left: 10vh;
    padding-top: 4vh;
    width: 94%;
}
.dirigido_title p {
    font-size: 4vh;
}
.card_dirigido {
    height: 100%;
    padding-left: 10vh;
    padding-top: 4vh;
    width: 100%;
}
.card_course {
    height: 100%;
    padding-left: 13vh;
    padding-top: 4vh;
    width: 100%;
    background-color: #da1a40;
    position: relative;
    bottom: 43vh;
}
.text_course {
  padding-left: 10%;
}
.dirigido_text {
    padding-top: 3vh;
    font-size: 1.5vh;
}
.barra_dirigido {
    padding-right: 71%;
    position: relative;
    top: 2vh;
}
.course_title p {
    font-size: 9vh;
    line-height: 8vh;
}
.course_text {
    padding-top: 5vh;
    font-size: 1.5vh;
    color: rgba(255,255,255,1);
}
.text_buttons_profesor {
    display: flex;
    justify-content: center;
    position: relative;
    height: 24vh;
    bottom: 12vh;
    font-size: 1.5vh;
}
.imagen_profesor{
  padding-top: 29vh;
}
.beneficio_number {
    font-size: 21vh;
    color: #C1BDBD;
}
.beneficio_title {
    position: relative;
    bottom: 22.5vh;
    text-align: center;
    line-height: 4vh;
    padding-top: 8vh;
}
.beneficio_text {
    position: relative;
    bottom: 22vh;
    font-size: 2vh;
}
.barra_beneficio {
    padding-right: 21vh;
    position: relative;
    bottom: 19vh;
}
.beneficio_title p {
    font-size: 3vh;
}
.textPrincipal {
    display: flex;
    position: relative;
    justify-content: flex-start;
    height: 25vh;
    align-items: center;
    padding-left: 6vh;
    padding-right: 8vh;
    bottom: 6vh;
}
.title_Card {
    padding-left: 3vh;
    padding-top: 5vh;
}
.title_Second {
    font-size: 7vh;
    color: #DA1A40;
}
.barra {
    padding-left: 10vh;
}
.text_card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 4vh;
    padding-right: 4vh;
    padding-top: 2vh;
    padding-bottom: 5vh;
    line-height: 2vh;
}
.text_card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 4vh;
    padding-right: 4vh;
    padding-top: 2vh;
    padding-bottom: 5vh;
    line-height: 2vh;
}
.carousel-caption h3 {
    font-size: 39vh;
}
.botonF1{
  width: 8vh;
  height: 8vh;
  border-radius: 100%;
  background: #DA1A40;
  right: 16%;
  bottom: 53%;
  position: fixed;
  border: none;
  outline: none;
  color: #FFF;
  font-size: 5vh;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: .3s;
  z-index: 10;
}
.formulario {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    padding-left: 5vh;
    width: 96%;
}
}



@media (max-width: 520px) {
  
.card_dirigido {
    height: 100%;
    padding-left: 3vh;
    padding-top: 4vh;
    width: 100%;
}
.dirigido_title p {
    font-size: 3vh;
}
.card_course {
    height: 100%;
    padding-left: 3vh;
    padding-top: 0vh;
    width: 100%;
    background-color: #da1a40;
    position: relative;
    bottom: 43vh;
}
.course_title p {
    font-size: 5vh;
    line-height: 5vh;
}

.text_course {
    padding-left: 0%;
    height: 100%;
    padding-top: 0%;
    position: relative;
    top: 25vh;
}
.course_text {
    padding-top: 2vh;
    font-size: 1.5vh;
    color: rgba(255,255,255,1);
}
.course_text {
    padding-top: 1vh;
    font-size: 1vh;
    color: rgba(255,255,255,1);
    padding-right: 0vh;
}
.dirigido_text {
    padding-top: 3vh;
    font-size: 1.3vh;
}
.nuestro_contenido {
    padding-left: 0vh;
    height: 100vh;
    display: flex;
}
.nuestro_contenido_2 {
    padding-left: 0vh;
    height: 100vh;
    display: flex;
    width: 100%;
}
.nuestro_contenido_title p {
    font-size: 5vh;
    line-height: 5vh;
}
.nuestro_contenido_title {
    text-align: left;
    line-height: 7vh;
    width: 50%;
    padding-left: 2vh;
}
.module_title {
    color: #ffffff;
    padding-top: 10vh;
    padding-left: 1vh;
    line-height: 7vh;
}
.card_module {
    background-color: #DA1A40;
    height: 80%;
    width: 100%;
}
.card_module3 {
    background-color: #161615;
    height: 80%;
    width: 100%;
}
.nuestro_contenido_module1, .nuestro_contenido_module2 {
    padding-top: 5vh;
    height: 45%;
}
.course_subtitle1 {
    font-size: 2vh !important;
}

.course_subtitle2 {
    font-size: 4vh !important;
}
.nuestro_contenido_module3 {
    height: 31%;
    width: 100%;
}
.nuestro_contenido_rigth {
    position: relative;
    top: 38vh;
    padding-left: 2vh;
    width: 100%;
}
.card_module2 .module_title {
    color: #ffffff;
    padding-top: 5vh;
    padding-left: 1vh;
    line-height: 7vh;
    padding-right: 1vh;
}
.module_subtitle2 {
    font-size: 4vh !important;
    color: #161615;
}
#img_strategia {
    position: relative;
    bottom: 19.2vh;
    width: 55vh;
}
.cards {
    display: flex;
    justify-content: space-around;
    padding-left: 5vh;
    padding-right: 5vh;
    height: 100%;
    width: 100%;
}
.beneficio_number {
    font-size: 8vh;
    color: #C1BDBD;
}
.beneficio_title {
    position: relative;
    bottom: 22.5vh;
    text-align: left;
    line-height: 2vh;
    padding-top: 10%;
    padding-left: 1vh;
}
.beneficio_title p {
    font-size: 1.5vh;
}
.beneficio_text {
    position: relative;
    bottom: 74%;
    font-size: 9px;
}
.card_beneficios {
    width: 15vh;
}
#barra_10 {
    background-color: #DA1A40;
    height: 0.5vh;
}
.barra_beneficio {
    padding-right: 10vh;
    position: relative;
    bottom:66%;
}
.content_curso {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 39vh;
}
.card_course {
    height: 89%;
    padding-left: 3vh;
    padding-top: 0vh;
    width: 100%;
    background-color: #da1a40;
    position: relative;
    bottom: 43vh;
}
.title_profesor {
    text-align: left;
    line-height: 4vh;
    padding-left: 0vh;
}
.title_profesor p {
    font-size: 4vh;
}
.text_profesor {
    text-align: left;
    padding-left: 0vh;
    padding-top: 6vh;
}
.name_profesor .beneficio_title {
    position: relative;
    bottom: 26vh;
    line-height: 1vh;
    text-align: left;
    padding-left: 7vh;
}
.name_profesor .beneficio_number {
    font-size: 18vh;
    color: #c1bdbd;
}
.beneficio_title p {
    font-size: 1.5vh;
    line-height: 2vh;
}

.content_profesor {
    width: 50%;
    padding-left: 1vh;
}
.text_buttons_profesor {
    display: flex;
    justify-content: center;
    position: relative;
    height: 24vh;
    bottom: 12vh;
    font-size: 1.5vh;
}
.btn-outline-secondary {
    color: white;
    border-color: #b7bdc1;
    background-color: #b7bdc1;
    width: 4vh;
    font-size: 2vh;
    height: 4vh;
}
.nuestros_docentes {
    display: flex;
    width: 100%;
    padding-top: 5vh;
    height: 100vh;
}
.name_profesor {
    position: relative;
    bottom: 8vh;
    height: 26vh;
}
.title_Second {
    font-size: 4vh;
    color: #da1a40;
}
.barra {
    padding-left: 6vh;
}
.in_text_card {
    font-size: 1vh;
}
.navbar-dark .navbar-brand {
    padding-left: 2vh;
    color: #000;
    font-size: 2vh;
}
p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.5vh;
}
.carousel-caption h3 {
    font-size: 15vh;
}
.nuestros_docentes {
    display: flex;
    width: 100%;
    padding-top: 5vh;
    height: 100vh;
}
}




@media (max-width:1160px){
.in_text_card{
    font-size: 19px;
}
.beneficio_text{
     width: 100%;
} 
.card_course{
  padding-bottom: 35px;
}
}
@media (max-width:1160px){
.beneficio_number{
      font-size: 250px;
}
.barra_beneficio{
    padding-right: 150px;
}
}

@media (max-width:1160px){
.card_dirigido{
    height: 100%;
    padding-left: 44px;
    padding-top: 4vh;
    width: 78vh;
    padding-right: 54px;
}
}

@media (max-width:1100px){
.text_addressed{
    width: 53%;
}
.beneficio_number{
  font-size: 227px 
}
.beneficio_title p{
    font-size: 30px;
    line-height: 35px;
}
}


@media (max-width:1044px){
.dirigido_text{
    font-size: 19px;
        width: 92%;
}
.course_text{
      font-size: 21px;
}
}


@media (max-width:984px){
.card_course{
  min-height: 66vh;
  height: inherit;
}
}

@media (max-width:984px){
.beneficio_number{
    font-size: 216px;
}
.beneficio_title p{
  font-size: 32px;
}
.cards{
      display: flex;
    justify-content: space-around;
    padding-left: 54px;
    padding-right: 0vh;
    height: 100%;
    width: 92%;
}
}



@media (max-width:958px){
.in_text_card{
     font-size: 16px;
}
.cards{
      padding-left: 75px;
}    
}


@media (max-width:936px){

.beneficio_text{
     width: 88%;
     padding-top: 8%;
} 
.dirigido_text{
      width: 85%;
}   
}



@media (max-width:902px){
.beneficio_number{
  font-size: 196px;
}    
.dirigido_text{
  font-size: 15px;
}
.course_text{
font-size: 19px;
}
.card_course{
      padding-left: 10vh;
}
.nuestro_contenido_title p{
    font-size: 40px;
    line-height: 41px;
}
.module_title{
      padding-left: 31px;
    padding-right: 31px;
}
}


@media (max-width:893px){

.beneficio_title p{
      font-size: 23px;
    line-height: 27px;
}
}




@media (max-width:870px){

.in_text_card{
      font-size: 12px;
}  
.course_title p{
      font-size: 53px;
          line-height: 61px;
}
.barra_beneficio.last{
      padding-right: 202px;
}
}



@media (max-width:815px){

.beneficio_number{
      font-size: 182px;
}
.beneficio_text.last{
    font-size: 12px;
}
.beneficio_text{
  font-size: 12px;
}
.dirigido_text{
      width: 66%;
}
.text_buttons_profesor {
    font-size: 12px;
}
.barra_beneficio{
    padding-right: 202px;
}
.barra_beneficio.last{
      padding-right: 202px;
}

}



@media (max-width:785px){

.in_text_card{
      font-size: 10px;
}
.title_Second{
  font-size: 7vh;
}
.beneficio_number{
  font-size: 168px;
}
.barra_beneficio{
      padding-right: 176px;
}
.course_text{
      font-size: 16px;
}
#img_lupa{
      width: 31vh;
}
.left_footer {
    padding-left: 5vh;
}
.logo_footer{
  margin-left:-20px;
}
}

@media (max-width:710px){

.text_addressed{
      width: 45%;
}
.card_course{
      padding-left: 8vh;
}
.beneficio_number{
  font-size: 158px;
}

.nuestro_contenido_title p{
      font-size: 33px !important;
}
.beneficio_title p{
      font-size: 20px;
}
.title_profesor p{
      font-size: 6vh;
      line-height: 52px;

}
}


@media (max-width:710px){
.nuestro_contenido_title p{

  font-size: 25px !important;
    line-height: 29px;
}
.carousel-caption h3{
  font-size: 32vh;
}

}


@media (max-width:690px){
.beneficio_number{
      font-size: 147px;
}
.dirigido_text{
  font-size: 12px;
}

.dirigido_text{
      width: 54%;
}
.course_text{
      font-size: 13px;
}
.course_title p{
      font-size: 44px;
    line-height: 52px;
}
.card_module2 .module_title{
      color: #ffffff;
    padding-top: 5vh;
    padding-left: 4vh;
    line-height: 2vh;
    padding-right: 5vh;
}

.barra_beneficio.last{
  padding-right: 169px;
}

.barra_beneficio{
  padding-right: 169px;
}
.nuestro_contenido_2{
      padding-left: 4.5vh;
    height: 100vh;
    display: flex;
    width: 100%;
}
.content_curso{
      height: 57vh;
}
.nuestros_docentes{
      padding-top: 15vh;
}
.name_profesor .beneficio_title{
    padding-left: 2vh;
}
.text_buttons_profesor{
      font-size: 12px;
}

.icon_footer{
  padding-left: 161px;
}



}

@media (max-width:638px){
  .beneficio_number{
   font-size: 135px;
}
.icon_footer{
      padding-left: 110px;
}

.barra_beneficio{
      padding-right: 141px;
}
.barra_beneficio.last{
  padding-right: 141px;
}
  }
 
@media (max-width:638px){
.beneficio_number{
      font-size: 102px;
          padding-bottom: 23px;
}

#__BVID__16___BV_modal_body_ .modal-contenido{

        flex-wrap: wrap;
        font-size: 5vh;
}
#__BVID__17___BV_modal_body_ .modal-contenido{

        flex-wrap: wrap;
        font-size: 5vh;
}
#__BVID__18___BV_modal_body_ .modal-contenido{

        flex-wrap: wrap;
        font-size: 5vh;
}

#__BVID__17___BV_modal_body_ .title_module1{
    font-size: 8vh;
}
#__BVID__18___BV_modal_body_ .title_module1{
      font-size: 8vh;
}
#__BVID__16___BV_modal_body_ .modal-title{
      height: 20%;
}
#__BVID__16___BV_modal_body_ .title_module1{
      line-height: 6vh;
    font-size: 6vh;
}
}
@media (max-width:601px){

.card_dirigido{
       width: 205%;
}


}

@media (max-width:539px){
.icon_footer{
      padding-left: 68px;
}
.direccion_text p{
      font-size: 13px;
}
.beneficio_text.last{
  font-size: 10px;
}
.beneficio_text{
  font-size: 10px;
}

}


@media (max-width:539px){
.cards{
      padding-left: 25px;
}
.beneficio_title{
      bottom: 88%;
}
.beneficio_title p{
      font-size: 14px;
      line-height: 19px;
}
.card_beneficios{
      width: 12vh;
}
.title_Second{
      font-size: 6vh;
}

}

@media (max-width:539px){
.in_text_card{
      font-size: 7px;
    line-height: 12px;
}
.text_card{
      padding-left: 2vh;
    padding-right: 2vh;
}

.cards {
      display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
}
.card_beneficios{
      height: 35vh;
      padding-bottom: 8em;
      width: 74%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.beneficio_number{
    padding-bottom: 0px;
}

.barra_beneficio{
   background-color:#da1a40;
   padding-right: 130px;
}
.Beneficios{
    margin-top: -67px;
}
.title_Second{
      font-size: 4vh;
}

}
@media (max-width:539px){
.text_addressed{
      width: 31%;
}
@media (max-width:450px) {
  #__BVID__15 {
    width: 100%;
}
.modal {
    position: fixed;
    bottom: 3.7vh;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    outline: 0;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    height: 95vh;
    padding: 1rem;
}
}
}
@media (max-width:414px){
#img_logo {
    width: 9vh;
}
.content_curso{
  flex-direction: column-reverse;
  top: 11vh;
  height: 100%;
}
.card_course {
    min-height: 288px;
    height: inherit;
}
.card_dirigido {
    width: 323%;
}
.dirigido_text {
    width: 100%;
}
#img_logo {
    width: 8vh;
}
.card_course {
    padding-left: 0vh;
    position: relative;
    width: 100%;
    left: 0vh;
    padding-left: 5%;
}
.text_course {
    padding-left: 0%;
    height: 100%;
    padding-top: 0%;
    position: relative;
    top: 32vh;
}
.course_title p {
    font-size: 36px;
    line-height: 34px;
}
.nuestro_contenido {
    padding-left: 0vh;
    height: 100vh;
    display: flex;
    padding-top: 20vh;
}
.nuestro_contenido_2 {
    padding-left: 0vh;
    height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.nuestro_contenido_title {
    text-align: left;
    line-height: 7vh;
    width: 100%;
    padding-left: 0vh;

}   
.contenido_title p {
    font-size: 25px !important;
    line-height: 29px;
    padding-left: 3vh;
}
.card_module {
    background-color: #DA1A40;
    height: 56%;
    width: 100%;
}
.nuestro_contenido_title p {
    font-size: 42px !important;
    line-height: 38px;

}
#img_logo {
    width: 8vh !important ;
}
.nuestro_contenido_module3 {
    height: 48%;
    width: 100%;
    position: relative;
    bottom: 90vh;
}
.nuestro_contenido_rigth {
    position: relative;
    top: 38vh;
    padding-left: 0vh;
    width: 100%;
}
.card_module3 {
    background-color: #161615;
    height: 55%;
    width: 100%;
}
#img_strategia {
    position: relative;
    bottom: 38.2vh;
    width: 55vh;
}
#img_lupa {
    position: relative;
    bottom: 28vh;
    width: 37vh;
    right: 8vh;
}
.nuestro_contenido_rigth {
    position: relative;
    top: -8vh;
    padding-left: 0vh;
    width: 100%;
}
.nuestros_docentes {
    padding-top: 15vh;
    position: relative;
    top: 22vh;
}
.carousel-caption h3 {
    font-size: 11vh;
}
.nuestros_docentes {
    padding-top: 15vh;
    position: relative;
    top: 23vh;
    display: flex;
    flex-direction: column;
}
#img_profesor {
    width: 100%;
    padding-left: 0vh;
    padding-top: 0vh;
}
.content_profesor {
    width: 100%;
    padding-left: 1vh;
}
.name_profesor .beneficio_title {
    position: relative;
    bottom: 70%;
    line-height: 1vh;
    text-align: left;
    padding-left: 7vh;
}
.beneficio_title p {
    font-size: 30px;
    line-height: 27px;
}
.text_buttons_profesor {
    font-size: 12px;
    height: 6vh;
}
.buttons_text {
    display: flex;
    justify-content: space-evenly;
    padding-right: 0vh;
    position: relative;
    top: 44vh;
    z-index: 1;
}
.footer {
    width: 100%;
    background-color: #161615;
    position: absolute;
    height: 25vh;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 31vh;
}
.ml-auto {
    margin-right: 4vh;
}
}


@media (max-width:414px){
  
  .nuestro_contenido_module3 {
    height: 50%;
    width: 100%;
    position: relative;
    bottom: 87vh;
}
.beneficio_title p {
    font-size: 23px;
    line-height: 23px;
}
.card_beneficios {
    height: 34%;
}
.module_title{
    padding-top: 0;
    min-height: 24vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icon_footer {
    padding-left: 0;
}

.direccion_text p{
    font-size: 1.2vh;
    line-height: 2vh;
    margin-left: 12px;

}

#img_logo_footer {
    width: 192px;
    max-width: 151px;
}
.text_addressed {
    width: 31%;
    height: 100%;
}
.card_beneficios {
    height: 34vh;
}
.beneficio_text.last{
  bottom: 55%;
}
.barra_beneficio.last{
  bottom: 41%;
}
.nuestro_contenido_rigth {
    position: relative;
    top: -8vh;
    padding-left: 0;
    width: 100%;
    z-index: 2;
}

#__BVID__16___BV_modal_body_ .modalcontent-text{
    height: 24.97vh;
}
#__BVID__16___BV_modal_body_ .modalcontent-text .card_beneficios {
      align-items: flex-start;
}
#__BVID__16___BV_modal_body_ .modalcontent-text .card_beneficios .barra_beneficio{
  left: 5vh;
}
#__BVID__16___BV_modal_body_ .modalcontent-text .card_beneficios #barra_10{
  height: 4px;
}
#__BVID__16___BV_modal_body_ .modalcontent-text .card_beneficios{
  height: 100%;
}
#__BVID__16___BV_modal_body_ .modalcontent-text .card_beneficios #barra_10 {
  background-color: #fff;
}
.beneficio_text{
  padding-top: 0%;
}
#__BVID__16___BV_modal_body_ .modalcontent-text .card_beneficios .barra_beneficio{
    padding-right: 15%;
    position: relative;
    bottom: 0;
    top: 2vh;
    padding-left: 10%;
    background-color: white;
}
#__BVID__16___BV_modal_body_ .modalcontent-text .card_beneficios{
  padding-bottom: 0em;
}

#__BVID__17___BV_modal_body_ .modalcontent-text{
height: 23vh;
}
#__BVID__17___BV_modal_body_ .modalcontent-text .card_beneficios {
      align-items: flex-start;
}
#__BVID__17___BV_modal_body_ .modalcontent-text .card_beneficios .barra_beneficio{
  left: 5vh;
}
#__BVID__17___BV_modal_body_ .modalcontent-text .card_beneficios #barra_10{
  height: 4px;
}
#__BVID__17___BV_modal_body_ .modalcontent-text .card_beneficios{
  height: 100%;
}
#__BVID__17___BV_modal_body_ .modalcontent-text .card_beneficios #barra_10 {
  background-color: #fff;
}
.beneficio_text{
  padding-top: 0%;
}
#__BVID__17___BV_modal_body_ .modalcontent-text .card_beneficios .barra_beneficio{
    padding-right: 15%;
    position: relative;
    bottom: 0;
    top: 2vh;
    padding-left: 10%;
    background-color:black;
}
#__BVID__17___BV_modal_body_ .modalcontent-text .card_beneficios{
  padding-bottom: 0em;
}
#__BVID__18___BV_modal_body_ .modalcontent-text{
height: 23vh;
}
#__BVID__18___BV_modal_body_ .modalcontent-text .card_beneficios {
      align-items: flex-start;
}
#__BVID__18___BV_modal_body_ .modalcontent-text .card_beneficios .barra_beneficio{
  left: 5vh;
}
#__BVID__18___BV_modal_body_ .modalcontent-text .card_beneficios #barra_10{
  height: 4px;
}
#__BVID__18___BV_modal_body_ .modalcontent-text .card_beneficios{
  height: 100%;
}
#__BVID__18___BV_modal_body_ .modalcontent-text .card_beneficios #barra_10 {
  background-color: #fff;
}
.beneficio_text{
  padding-top: 0%;
}
#__BVID__18___BV_modal_body_ .modalcontent-text .card_beneficios .barra_beneficio{
    padding-right: 15%;
    position: relative;
    bottom: 0;
    top: 2vh;
    padding-left: 10%;
    background-color: white;
}
#__BVID__18___BV_modal_body_ .modalcontent-text .card_beneficios{
  padding-bottom: 0em;
}
}
@media (max-width: 320px){
.card_beneficios {
    height: 48vh;
}
.beneficio_title {
    bottom: 71%;
}
.beneficio_text{
  padding-top: 0%;
}
.card_beneficios {
    height: 42vh;
}
}



</style>